
  <div class="container">
	  <div id="slides">
	    <%= image_tag("example_carousel.png") %>
		<%= image_tag("example_carousel.png") %>
		<%= image_tag("example_carousel.png") %>
		<%= image_tag("example_carousel.png") %>
	  </div>
  </div>

  <div id="home_article_left">
  	<div class='home_article_left'>
  		<%= raw @page.content_for(:left_content) %>
  	</div>
  </div>

  <div id="home_article_right">
  	<div id="home_article_right_title">
  	<%= raw @page.content_for(:right_title) %>
  	</div>
 	<div class='home_article_right'>
  		<%= raw @page.content_for(:centre_content) %>
  	</div>
  	<div class='home_article_right'>
  		<%= raw @page.content_for(:right_content) %>
  	</div>
  </div>
	
<script>
  $(document).ready(function() {
  	
      $("#slides").slidesjs({
        width: 100,
        height: 25,
        play: {
          active: true,
          effect: "slide",
	      interval: 5000,
	      auto: false,
	      swap: true,
	      pauseOnHover: false,
	      restartDelay: 2500
    	}
      });
    });
</script>