<div id='home_right'>
	<center>
		<div id='right_1' class='section' >
			<%= raw @page.content_for(:right_1) %>
		</div>
	</center>
	<div id='recent_news'>
		<%= render :partial => '/refinery/news/items/recent_posts' %>
	</div>
</div>
	<div class='section'>
		<%=raw remove_imgs @page.content_for(:section_1)%>
	</div>
	<div class='section' >
		<%= raw @page.content_for(:section_2) %>
	</div>
	<div class='section' >
		<%= raw @page.content_for(:section_3) %>
	</div>
